.callout[data-callout="item"] {
    
    --callout-color: 255, 100, 200;
    --callout-icon: lucide-gem;
}
.callout[data-callout="combat"] {
    
    --callout-color: 255, 75, 75;
    --callout-icon: lucide-swords;
    --callout-border: 4px solid 255,100,100;
}
.callout[data-callout="cutscene"] {
    
    --callout-color: 255, 193, 7;
    --callout-icon: lucide-book-open;
}
.callout[data-callout="handout"] {
    
    --callout-color: 95, 223, 255;
    --callout-icon: lucide-sparkles;
}
